<% for (post of locals.posts) { %>

    <div class="post-preview">

        <div class="brief">

            <div class="titles">

                <a class="title" href="blog/posts/<%= post.id %>"><%= post.title %></a>
                <p><%= post.subtitle %></p>
            </div>

            <div class="tags">
 
                <p>stuff, gaming, css, python, fun, #timetotroll, stuff, gaming, css, python, fun, #timetotroll, stuff, gaming, css, python, fun, #timetotroll, stuff, gaming, css, python, fun, #timetotroll</p>
            </div>
        </div>
        
        <div class="details">

            <p><%= `${post.created_at.toLocaleDateString()} ${post.created_at.toLocaleTimeString()}` %></p>
            <p><%= post.views %> views</p>
        </div>
    </div>
<% } %>