<% for (post of locals.posts) { %>

    <div class="post-preview">

        <div class="brief">

            <div class="titles">

                <a class="title" href="blog/posts/<%= post.id %>"><%= post.title %></a>
                <p><%= post.subtitle %></p>
            </div>

            <div class="tags">
 
                <p><%= post.formattedTags %></p>
            </div>
        </div>
        
        <div class="details">

            <p><%= post.meta.formattedCreatedAt %></p>
            <p><%= post.meta.views %> views</p>
        </div>
    </div>
<% } %>